# Run caddy in this directory and it will pick up Caddyfile automatically
# Don't add caddy to the repo, just invoke it from where the binary is
localhost
#gzip
#log has a bug where websocket feature doesn't work
#log caddy.log
#errors error.log
# The root of the site
root . 
websocket /echo cat 
